<!DOCTYPE html>
<html>
<head>
  <title>Michael Hughes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>
  <div class="header">
    <div class="name">
      <h1>mike hughes</h1>
    </div>
    <div class ="title">
      <h2><%=link_to 'composer', composer_path %></h2>
    </div>
    <div class="contact">
      <a href="mailto:michaelryanhughes@gmail.com"><h2>contact</h2></a>
    </div>
    <div class="bar"> </div>
  </div>
  <%= yield %>
</body>
</html>
